@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: #E0D9D9;
    color:#0f0f10;
}

body{
    min-height: 100vh;
    background: #0f0f10;
    color: #E0D9D9;
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -2px;
    background-color: #E0D9D9;
    color:#0f0f10;
}

label{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.9rem;
}

#upload {
    align-self: center;
}

#ascii{
    white-space: pre;
    font-size: 4px;
    line-height: 4px;
    margin: 30px;
    max-width: 100%;
}

.ascii-con{
    display:none;
    border-radius: 24px;
    background: #E0D9D9;
    color: #1A1A1D;
    border: 1px solid #2a2a2f;
    overflow: auto;
    position: relative;
    padding: 15px;
    width: fit-content;
    max-width: 100%;
    box-shadow: 0 10 40px rgba(0, 0, 0, 0.3);
}

#copyts{
    position: absolute;
    top:10px;
    right:10px;
    background: #242429;
    color: #E0D9D9;
    border: none;
    border-radius: 12px;
    padding: 5px 7px;
    cursor: pointer;
    font-family: inherit;
    transition: 0.2s;
}

#copyts:hover {
    background: #34343a;
    transform: translateY(-1px);
}

canvas{
    display: none;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 30px;
    padding: 20px, 24px;
    border-radius: 20px;
}

input{
    cursor: pointer;
}

input[type='checkbox']{
    width:16px;
    height: 16px;
}

input[type='range']{
    width: 140px;
}

#contrastval{
    width:50px;
    font-size: 0.85rem;
}

.ascii-con pre::selection, h1::selection{
    background-color: #0f0f10;
    color:#E0D9D9;
}